$primary-blue: #14B7ED;
$color-green: #0A2E36;
$color-purple: #540D6E;
$color-white: #FCFAFA;

$font-primary: #FCFAFA;
$font-secondary: #161925;

$team-audi: #C01C2E;
$team-bmw: #0080B5;
$team-ds: #cca568;
$team-virgin: #290d42;
$team-dragon: #d41623;
$team-hwa: #191919;
$team-mahindra: #e31837;
$team-nio: #00bebe;
$team-nissan: #333333;
$team-jag: #40e0d0;
$team-venturi: #a2a2a2;